ICEFLOW_CLIENT_ID=
ICEFLOW_CLIENT_SECRET=
ICEFLOW_AWS_ACCESS_KEY=
ICEFLOW_AWS_SECRET_KEY=

# Nessie / Iceberg catalog
ICEFLOW_NESSIE_URI=
ICEFLOW_NESSIE_WAREHOUSE=
ICEFLOW_NESSIE_PREFIX=main
ICEFLOW_NESSIE_SCOPE=
ICEFLOW_OAUTH2_SERVER_URI=

# S3 / AWS
ICEFLOW_AWS_REGION=
ICEFLOW_S3_ENDPOINT=